<style>

body {
  background-color: #ff0000;
}

/** HEADER **/

#header-nav {
  background-color: #ffff99;
  border-radius: 0;
  border: 0;
  
}

.navbar-brand h1 { /* Restaurant name */
  
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:link {
  text-decoration: none; 
}

#nav-list {
  margin-top: 0px;
  background-color: #b30000;
}
#nav-list a {
  color: #ffffff;
  text-align: center;
}
#nav-list a:hover {
  background: #ffffff;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #0000ff;
}
.navbar-header button.navbar-toggle {
  float: right;
  margin-top: 10px;
}

/********** Base styles **********/
* {
  box-sizing: border-box;
  padding-top: 0px;
  padding-bottom: 0px;
}


h2 {
  margin-bottom: 15px;
  color: black;
  font-size: 250%;
  text-transform: uppercase;
}
.row div {
  background-color: #ffff99;
  margin-bottom: 30px;
}
p { 
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 100%;

}
#p1 {
  
  color: black;
  word-spacing: 2px;
  line-height: 20px;
}
#p2 {
  
  font-size: 150%;
  text-align: center;
  color: black;
  text-transform: uppercase;
}


</style>
